name: Reusable ESLint

on:
  workflow_call:
    inputs:
      node-version:
        type: string
        default: "lts/*"
      working-directory:
        description: "Directory to run commands in"
        type: string
        default: "."

jobs:
  eslint:
    name: ESLint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}

      - name: Install Dependencies
        run: npm i

      - name: Run ESLint
        run: npm run lint
