name: Reusable Ruff

on:
  workflow_call:
    inputs:
      working-directory:
        description: "Directory to run Ruff in"
        type: string
        default: "."

jobs:
  ruff:
    name: Ruff
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: uv python install

      - name: Run Ruff
        run: |
          uv sync
          uv run ruff check .
